/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v20-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v20-latin-500.woff2") format("woff2"), url("../fonts/rubik-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v20-latin-600.woff2") format("woff2"), url("../fonts/rubik-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__img {
  display: block;
  width: 276px;
  height: 45px;
}
.header__currencies {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 35px;
}
.header__icon {
  font-weight: 700;
  color: #2959ce;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  margin-right: 5px;
}
.header__currency:not(:last-child) {
  margin-right: 25px;
}
.header__label-search {
  position: relative;
  display: flex;
  align-items: center;
}
.header__label-search::before {
  content: "";
  position: absolute;
  margin-left: 15px;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("./../images/lupa.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.header__search {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 14px;
  padding-left: 40px;
  border-radius: 60px;
  border: none;
  background-color: #ffffff;
  outline: none;
}
.header__lang {
  background-color: #dce6ff;
  border-radius: 39px;
  width: 70px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  padding: 3px;
  justify-content: space-between;
}
.header__lang-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 12px;
  color: #a6a6a6;
  cursor: pointer;
}
.header__lang-label--active {
  color: #000000;
  background-color: #ffffff;
}
.header__radio:checked + label {
  color: #000000;
  background-color: #ffffff;
}
.header__login {
  border-radius: 10px;
  color: #ffffff;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  background-color: #7296ec;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 20px;
}
.navbar__link {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #7f7f7f;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}
.navbar__link:last-child {
  margin-right: 0;
}
.navbar__link:first-child {
  margin-right: 0;
}

.aside {
  margin-top: 40px;
  margin-bottom: 50px;
}
.aside__img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wraper__nowe {
  display: flex;
  justify-content: space-between;
}

.wraper {
  width: 393px;
  height: 382px;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding-left: 17px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.wraper__box-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  width: 358px;
  height: 78px;
  margin-bottom: 10px;
}
.wraper__box-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  width: 346px;
  height: 44px;
  margin: 0;
  margin-bottom: 15px;
}
.wraper__box-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.wraper__data {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
  display: flex;
  align-items: center;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}/*# sourceMappingURL=main.css.map */